@use "../abstracts" as *;
$-gap-between-social-media-icons: rem(20);

.footer {
  margin: rem(74) 0;

  @include breakpoint-up("very-small") {
    margin: rem(183) 0 rem(85) 0;
  }

  @include breakpoint-up("small") {
    margin: rem(220) 0 rem(91) 0;
  }
}

.footer__container {
  @include breakpoint-up("small") {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.footer__home {
  display: inline-block;
  margin-bottom: rem(32);

  @include focus-visible($black);

  @include breakpoint-up("small") {
    margin-bottom: 0;
  }
}

.footer__flex {
  @include breakpoint-up("very-small") {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__text {
  @include breakpoint-up("very-small") {
    flex-basis: rem(366);
  }
}

.footer__email {
  text-decoration: none;
  color: $black;
  font-weight: 700;

  @include focus-visible($black);

  @include on-event {
    color: $dark-orange;
  }

  @media screen and (prefers-reduced-motion: no-preference) {
    transition: color 150ms ease-in-out;
  }
}

.footer__contact {
  display: block;
}

.footer__list {
  display: flex;
  align-self: center;
  margin-top: rem(64);

  @include breakpoint-up("very-small") {
    margin-top: 0;
  }

  @supports (gap: $-gap-between-social-media-icons) {
    gap: $-gap-between-social-media-icons;
  }
}

.footer__item:not(:last-child) {
  margin-right: $-gap-between-social-media-icons;

  @supports (gap: $-gap-between-social-media-icons) {
    margin-right: 0;
  }
}

.footer__social {
  color: $black;

  @include focus-visible($black);

  @include on-event {
    color: $dark-orange;
  }

  @media screen and (prefers-reduced-motion: no-preference) {
    transition: color 150ms ease-in-out;
  }
}
