@use "../abstracts" as *;

.header {
  padding-top: rem(40);

  @include breakpoint-up("very-small") {
    padding-top: rem(60);
  }
}

.header__home {
  display: inline-block;

  @include focus-visible($black);
}
