// Colors
$cyan: rgb(102, 226, 220);
$dark-orange: rgb(250, 116, 83);
$light-orange: rgb(255, 185, 100);
$white: rgb(252, 250, 249);
$black: rgb(25, 24, 38);

// Breakpoints
// Note: If the user font-size setting is 16px, then this 'em' is equal to this in 'px'
$breakpoints-up: (
  "tiny": 31.25em, // 500px
  "very-small": 46.875em, // => 750px
  "small": 63.75em, // => 1020px
  "medium": 69.375em, // => 1110px
  "large": 90em, // 1440px
);
$breakpoints-down: (
  "tiny": 31.1875em, // 499px
  "very-small": 46.8125em, // => 749px
  "small": 63.6875em, // => 1019px
  "medium": 69.3125em, // => 1109px
  "large": 89.9375em, // 1439px
);
